.nav {
  width: 100vw;
  margin: 15px 15px auto 15px;
  display: flex;
  align-items: baseline;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.stretches-benefits-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 35px;
  color: #363636;
}

.profile-trial-nav {
  display: flex;
  align-items: center;
}
