.wsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 7rem;
  margin-bottom: 5%;
}

.wsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wsContainer h2 {
  font-weight: 700;
  font-size: 35px;
  line-height: 54px;
  margin-left: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

.wsText {
  margin-right: 13rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.wsList {
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.wsList li:not(:last-child) {
  margin-bottom: 40px;
}

.wsList li {
  font-size: 25px;
  font-weight: 400;
  line-height: 20px;
  height: 20px;
}

.wsList li::before {
  content: '\2022';
  color: #048e98;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.yoga-girl {
  width: 35%;
}
.jumboHeader {
  display: flex;
  background-image: url('../../images/Hero-Image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.headerText h1 {
  display: flex;
  justify-content: left;
  font-weight: 800;
  font-size: 50px;
  font-family: 'Nunito Sans', sans-serif;
  word-wrap: break-word;
}

.headerWrapper {
  padding-top: 10%;
  padding-left: 5%;

  /* padding-top: 190px;
  padding-left: 150px; */
  height: 38%;
  width: 38%;
}

.headerBtnText p {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-top: 30px;
  font-family: 'Lato', sans-serif;
  line-height: 3rem;
}

.headerBtnText button {
  margin-top: 30px;
  padding: 20px;
  width: 270px;
  background-color: #347a8c !important;
  border-color: #347a8c !important;
  font-size: 30px;
}

.headerBtnText button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.painContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 250px 0px 0px 0px;
  background-color: #e0eaed;
  width: 100vw;
  height: 30%;
  padding-bottom: 4rem;
}

.painContainer h2 {
  padding-top: 50px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
  font-family: 'Nunito Sans', sans-serif;
}

.painCards {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}
.pain-card {
  border-radius: 10px 10px 0 0 !important;
}
.card-text {
  text-align: left !important;
  padding: 0 0 15px 10px !important;
}
.card-title {
  text-align: left !important;
  padding: 10px !important;
  font-size: 25px !important;
  font-weight: 700 !important;
}
.ws2-wrapper {
  width: 100vw;
  height: 40vh;
}
.ws2-text {
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 100vw;
  margin-top: 8rem;
}

.ws2-text h2 {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-family: 'Nunito Sans', sans-serif;
}

.ws2-text h4 {
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 4rem;
  margin-left: 3rem;
  font-family: 'Lato', sans-serif;
}

.clocks {
  margin-top: 3rem;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.clocks h3 {
  font-size: 30px;
  text-decoration: underline;
}

.statsContainer {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100vw;
  justify-content: space-around;
}

.statsImg {
  display: flex;
}

.statsImg img {
  height: 517px;
  width: 722px;
}

.statsText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 30%;
}

.statsText img {
  margin: 4rem;
}
.carousel {
  border-radius: 0px 150px 0px 0px;
  background-color: #e0eaed;
  height: 450px;
}
.carousel-header {
  font-size: 30px;
  padding-left: 50px;
}
#ws3Title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding-right: 2rem;
  width: 800px;
  display: flex;
  justify-content: center;
}

#ws3Title h2 {
  font-size: 49px;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

#ws3Title span {
  color: #347a8c;
  margin-right: 1.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

#ws3DeviceImage {
  display: flex;
  justify-content: center;
}

#ws3DeviceImage img {
  width: 850px;
  height: 550px;
}

#ws3ReviewTitle {
  display: flex;
  justify-content: center;
  margin: 4rem;
  font-family: 'Nunito Sans', sans-serif;
}
.review-name {
  font-size: 20px !important;
}
.star-review {
  width: 40% !important;
}
#ws3ReviewTitle h2 {
  font-weight: 800;
  font-size: 45px;
}

#ws3ReviewCards {
  margin-bottom: 5rem;
  padding: 50px;
}

.videoTitle {
  margin-bottom: 2rem;
  width: 974px;
  height: 75px;
  font-size: 40px;
  line-height: 55px;
  font-weight: 800;
  font-family: 'Nunito Sans', sans-serif;
}

.getStartedFooter {
  height: 300px;
  width: 100%;
  background-color: #e0eaed;
}

.getStartedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100%;
}

.getStartedText {
  padding: 1rem;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.getStartedIcon {
  width: 270px;
}

.getStartedIcon2 {
  width: 300px;
}

.followUsContainer {
  height: 374px;
  width: 100%;
  background-color: #bdbdbd;
  margin: 0;
}

.followUsWrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-around;
  font-family: 'Nunito Sans', sans-serif;
  width: 100vw;
}

.signUp {
  margin-left: 60px;
}

.followUsText {
  display: flex;
  justify-content: left;
  margin-left: 60px;
  font-weight: 800;
  color: #606060;
  font-family: 'Nunito Sans', sans-serif;
}

.social {
  display: flex;
  flex-direction: row;
}

.socialIcon {
  list-style: none;
  padding: 0px 15px 0px 15px;
}

.formText {
  margin: 0 0 15px 0;
  font-weight: 800;
  color: #606060;
  font-family: 'Nunito Sans', sans-serif;
}

.contactBar {
  list-style: none;
  display: flex;
  margin-left: 80px;
  font-family: 'Lato', sans-serif;
}

.signUp Form {
  display: flex;
}

.signUp Form Button {
  margin-top: 45px;
  margin-left: 10px;
  height: 36px;
}

.contactItem {
  margin-left: 50px;
  font-weight: 700;
}
.contactItem .link {
  color: #606060;
}

.blogContainer {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 250px 0px 0px;
  background-color: #e0eaed;
  width: 100%;
  height: 750px;
}

.blogContainer h2 {
  padding-top: 60px;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  font-family: 'Nunito Sans', sans-serif;
}

.blogCards {
  display: flex;
  justify-content: center;
  width: 70%;
  align-items: center;
}

.blogCards img {
  margin: 10px;
}

.blogLink {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.blogLink a {
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  color: black;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px), screen and (max-height: 824px) {
  .headerText h1 {
    font-size: 30px;
  }
  .headerBtnText p {
    font-size: 20px;
  }

  .headerBtnText button {
    margin-top: 20px;
    padding: 10px;
    width: 170px;
    background-color: #347a8c !important;
    border-color: #347a8c !important;
    font-size: 20px;
  }
  .wsContainer h2 {
    font-size: 40px !important;
    width: 100% !important;
  }
  .wsList li {
    font-size: 25px;
  }
  .painCards .card-text {
    width: 200px !important;
  }
  #ws3ReviewCards .card-text {
    width: 100px !important;
  }
}
@media only screen and (max-width: 768px) {
  .statsContainer {
    flex-direction: column;
    align-items: center;
  }

  .painCards .card-text {
    width: 80% !important;
  }
  .yoga-girl {
    margin-right: 40px;
  }
  .wsWrapper {
    display: flex;
    justify-content: space-around;
  }
  .wsText.col {
    margin: 0 !important;
    width: 300px;
  }
  .wsList {
    width: 300px;
  }
  #ws3Title {
    width: 100% !important;
  }
  #ws3Title h2 {
    font-size: 23px !important;
    padding-left: 30px;
  }
  #ws3DeviceImage img {
    width: 80%;
    height: 80%;
  }
  #ws3ReviewCards {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    width: 100%;
  }

  #ws3ReviewCards .card {
    width: 100%;
  }

  #ws3ReviewCards .card-text {
    width: 80% !important;
    font-size: 20px !important;
  }
  .signUp {
    margin-left: 0;
  }
  .formText {
    font-size: 10px;
    word-wrap: none;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .headerBtnText p {
    display: none;
  }
  .headerBtnText button {
    width: 150px !important;
  }

  .card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pain-card {
    width: 50%;
  }
  .pain-card .card-title {
    font-size: 15px !important;
  }
  .wsContainer h2 {
    text-align: center;
    margin-left: 0;
    width: 100% !important;
    font-size: 25px !important;
  }
  .wsList li {
    font-size: 15px;
    line-height: 15px;
  }
  .wsText {
    flex-direction: row;
  }
  .wsWrapper {
    padding-right: 30px;
  }
  .painContainer {
    border-radius: 150px 0px 0px 0px;
  }
  .painContainer h2 {
    font-size: 20px;
  }

  .ws2-text h2 {
    font-size: 35px;
  }
  .ws2-text h4 {
    font-size: 25px;
  }
  .individual-clock {
    padding: 20px;
  }
  .individual-clock img {
    width: 60%;
  }
  .individual-clock h3 {
    font-size: 20px;
  }
  .statsContainer {
    padding: 20px;
    align-items: center;
    margin-top: 0;
  }
  .statsImg img {
    width: 80%;
    height: 80%;
  }
  .statsText {
    width: 100%;
  }
  .statsText h3 {
    font-size: 20px;
    width: 100%;
    margin-bottom: 30px;
  }
  #ws3Title {
    width: 100% !important;
  }

  #ws3ReviewTitle h2 {
    font-size: 30px;
    width: 60%;
  }

  #ws3DeviceImage img {
    width: 70%;
  }

  #ws3ReviewCards .card {
    width: 100%;
  }

  .getStartedContainer {
    padding-top: 20px;
  }
  .getStartedText {
    font-size: 20px;
  }
  .getStartedButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 40px;
  }
  .getStartedIcon {
    width: 77%;
    padding-top: 3px;
  }
  .getStartedIcon2 {
    width: 75%;
  }
  .followUsWrapper {
    flex-direction: column;
    align-items: center;
  }
  .socialIcon {
    padding: 0px 5px 0px 5px;
  }
  .socialIcon img {
    width: 30px;
  }
  .contactBar {
    margin-left: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .contactItem {
    display: flex;

    margin-left: 0;
  }
  .contactWrapper {
    margin: 0;
  }
  .followUsIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    align-items: baseline;
    padding: 0;
  }
  .followUsText {
    margin: 0;
  }
}
@media only screen and (max-width: 375px) {
  .headerText h1 {
    font-size: 25px;
  }
  #ws3Title h2 {
    font-size: 20px !important;
    width: 60%;
  }
}
