body {
  height: 100vh;
  width: 100vw;
}

.benefitsHeader {
  width: 100vw;
}

.benefitsHeader img {
  width: 100%;
}

.benefitsPageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefitsHeaderTitle h1 {
  font-weight: 800;
  font-size: 50px;
  margin-top: 8vh;
  margin-left: 6vh;
  font-family: 'Nunito Sans', sans-serif;
}

.benefitsContainer {
  padding: 2rem;
  max-width: 1800px;
}

.decreasedStress {
  display: flex;
  width: 100%;
}

.decreasedStress img {
  margin-left: 3rem;
  padding-left: 5rem;
  width: 784px;
  height: 721px;
}

.decreasedStressText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  margin-left: 16rem;
}

.decreasedStressText h2 {
  width: 285px;
  height: 41px;
  font-weight: 700;
  line-height: 40px;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.decreasedStressText p {
  width: 546px;
  height: 93px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.decreasedStressText a {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  height: 24px;
  color: black;
  text-decoration: underline;
  font-family: 'Lato', sans-serif;
}

.reducedPain {
  display: flex;
  width: 100%;
}

.reducedPainImg {
  margin-right: 20rem;
}

.reducedPainImg img {
  width: 1000px;
  height: 625px;
}

.reducedPainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  margin-left: 8rem;
}

.reducedPainText h2 {
  width: 428px;
  height: 41px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.reducedPainText p {
  width: 544px;
  height: 91px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.reducedPainText a {
  width: 110px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  color: black;
  font-family: 'Lato', sans-serif;
}

.improvedHealth {
  display: flex;
  padding-top: 20px;
  width: 100%;
}

.improvedHealthImg img {
  width: 900px;
  height: 601px;
}

.improvedHealthText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  height: 501px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 536px;
  margin-left: 14rem;
}

.improvedHealthText h2 {
  height: 41px;
  width: 356px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.improvedHealthText p {
  width: 546px;
  height: 88px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.improvedHealthText a {
  width: 110px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  color: black;
  font-family: 'Lato', sans-serif;
}

.improvedMuscular {
  display: flex;
  width: 100%;
}

.improvedMuscularImg img {
  height: 700px;
  width: 564px;
  margin-left: 6rem;
}

.improvedMuscularText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  height: 650px;
  margin-left: 8rem;
}

.improvedMuscularText h2 {
  width: 445px;
  height: 41px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  font-family: 'Nunito Sans', sans-serif;
}

.improvedMuscularText p {
  width: 546px;
  height: 88px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.improvedMuscularText a {
  width: 110px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  color: black;
  font-family: 'Lato', sans-serif;
}

.reducedRisk {
  display: flex;
  width: 100%;
}

.reducedRiskImg img {
  width: 860px;
  height: 485px;
  margin-left: 4rem;
}

.reducedRiskText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  height: 485px;
  margin-left: 16rem;
}

.reducedRiskText h2 {
  width: 432px;
  height: 41px;
  font-weight: 700;
  line-height: 40px;
  font-size: 30px;
  font-family: 'Nunito Sans', sans-serif;
}

.reducedRiskText p {
  width: 490px;
  height: 90px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

.reducedRiskText a {
  width: 110px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  color: black;
  font-family: 'Lato', sans-serif;
}
