.link {
  color: black;
}

.login-button {
  width: 300px !important;
  height: 41px;
  left: 176px;
  top: 553px;
  background: #347a8c !important;
  border-color: #347a8c !important;
  border-radius: 10px;
  margin-top: 20px !important;
}

.login-modal {
  background: #e9f7f7;
  width: 500px !important;
}

.login-modal-header {
  width: 500px !important;

  color: black;
  background: #e9f7f7;
  border-bottom: none !important;
}
@media only screen and (max-width: 414px) {
  .login,
  .login-modal,
  .login-modal-header {
    width: 300px !important;
  }
  .login {
    margin-left: 13% !important;
  }
  .login .form-control,
  .login .form-label {
    width: 70% !important;
    margin-left: 14% !important;
  }
  .login-button {
    width: 60% !important;
    margin-left: 14% !important;
  }
}
@media only screen and (max-width: 375px) {
  .login {
    margin-left: 8% !important;
  }
}
